<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/photon.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src="../js/index.js"></script>
    <title></title>
  </head>
  <body>

    <!-- <div id="navigation" class='toolbar' style="position: fixed; top: 0px; left: 0px; width: 100%;"> -->
    <div id="mainDivButtons">
          <button class="btn btn-default" id="signBtn" type="button" onclick="openWindow('sign.html')">Sign</button>
          <button class="btn btn-default" id="verifyBtn" type="button" onclick="openWindow('verifyMsg.html')">Verify</button>
          <button class="btn btn-default" id="encryptBtn" type="button" onclick="openWindow('encrypt.html')">Encrypt</button>
          <button class="btn btn-default" id="decryptBtn" type="button" onclick="openWindow('decrypt.html')">Decrypt</button>
          <button class="btn btn-default" id="importBtn" type="button" onclick="openWindow('importKey.html')">Import Key</button>
          <button class="btn btn-default" id="keysBtn" type="button" onclick="openWindow('publicKeys.html')">Public Keys</button>
          <button class="btn btn-default" id="generateBtn" type="button" onclick="openWindow('generateKey.html')">Generate Key</button>
          <button class="btn btn-danger" id="quitBtn" type="button" onclick="quit()">Quit App</button>
    </div>
  </body>
</html>
